{% load crispy_forms_tags %}

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasReportPost" aria-labelledby="offcanvasReportPostLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasReportPostLabel">Reporting post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">
        <form action="{% url 'report_create' post.id %}" method="post">
            {% csrf_token %}

            <input type="text" name="reason">

            <button class="btn btn-sm btn-primary" type="submit">Send</button>
        </form>
    </div>
</div>
